################################################################################
##
## SAMPLE GLUSTER CLUSTER CONFIGURATION FOR NAGIOS
##
## This is an example of how Nagios can be configured to monitor your
## gluster cluster. Please use this as a reference.
## The sample configures a cluster "test-cluster" both as a host group
## and host. Volume and Cluster services are under the host "test-cluster"
##
#################################################################################


################################################################################
# Cluster is defined as hostgroup. All hosts in the cluster will have
# this hostgroup added in the "hostgroups" section
################################################################################
define hostgroup{
        hostgroup_name  test-cluster ; The name of the cluster hostgroup
        alias           TEST Cluster ; Long name of the group
        }

#################################################################################
# Cluster is also defined as a host. All cluster specific services should
# have host set as this cluster. For instance, Volume services
#################################################################################
define host{
        use             gluster-cluster         ; Inherit default values from a template
        host_name       test-cluster            ; The name of cluster. SHOULD BE SAME AS hostgroup defined above
        alias           test-cluster   ; A longer name to be used for display
        address         dummy            ; IP address of the host
}

################################################################################
# This defines a Host
# Edit this sample
#    host_name = FQDN or IP address of host
#    alias = Used for display
#    address = FQDN or IP address of host
#    hostgroups = Add the name of hostgroup defined for cluster
################################################################################
define host{
   use gluster-host
   host_name host.ipaddress1
   alias node-host.ipaddress1
   address host.ipaddress1
   hostgroups gluster_hosts,test-cluster ; SHOULD HAVE the cluster it belongs to
}

################################################################################
# This defines a Brick utilization service
# Edit this sample
#    host_name = host the brick is on
#    service_description = Brick Utilization - <brickdir>
#    _BRICK_DIR = Path to brick on server
#    _VOL_NAME  = Volume name the brick is part of
################################################################################
define service {
  use                   brick-service
  host_name             host.ipaddress1
  service_description   Brick Utilization - /bricks/b1
  _BRICK_DIR            /bricks/b1 ; MUST DECLARE the custom var _BRICK_DIR
  _VOL_NAME             Vol-1
}

################################################################################
# This defines a Brick Status service
# Edit this sample
#    host_name = host the brick is on
#    service_description = Brick - <brickdir>
#    _BRICK_DIR = Path to brick on server
#    _VOL_NAME  = Volume name the brick is part of
################################################################################
define service {
  use                   brick-passive-service
  host_name             host.ipaddress1
  service_description   Brick - /bricks/b1
  _BRICK_DIR            /bricks/b1 ; MUST DECLARE the custom var _BRICK_DIR
  _VOL_NAME             Vol-1
}

################################################################################
# This defines a Volume utilization service
# Edit this sample
#    host_name = the cluster host previously defined for cluster
#    service_description = Volume Utilization - <volname>
#    check_command = check_vol_utilization!<cluster-hostgroup-name>!<volume-name>!<warning>!<threshold>
#    _VOL_NAME = Volume name
################################################################################
define service{
  use                    gluster-service-with-graph
  host_name              test-cluster
  service_description    Volume Utilization - data-vol
  _VOL_NAME              data-vol ; MUST DECLARE the custom var _VOL_NAME
  check_command check_vol_utilization!test-cluster!data-vol!70!90
}

################################################################################
# This defines a Volume status service
# Edit this sample
#    host_name = the cluster host previously defined for cluster
#    service_description = Volume-status - <volname>
#    check_command = check_vol_status!<cluster-hostgroup-name>!<volume-name>
#    _VOL_NAME = Volume name
################################################################################
define service{
  use                    gluster-service-without-graph
  host_name              test-cluster
  service_description    Volume Status - data-vol
  _VOL_NAME              data-vol ; MUST DECLARE the custom var _VOL_NAME
  check_command check_vol_status!test-cluster!data-vol
}

################################################################################
# This defines a Volume Quota status service
# Edit this sample
#    host_name = the cluster host previously defined for cluster
#    service_description = Volume-status - <volname>
#    check_command = check_vol_quota_status!<cluster-hostgroup-name>!<volume-name>
#    _VOL_NAME = Volume name
################################################################################
define service{
  use                    gluster-service-without-graph
  host_name              test-cluster
  service_description    Volume Status Quota - data-vol
  _VOL_NAME              data-vol ; MUST DECLARE the custom var _VOL_NAME
  check_command check_vol_quota_status!test-cluster!data-vol
}

################################################################################
# This defines a Volume Split-brain status service
# Edit this sample
#    host_name = the cluster host previously defined for cluster
#    service_description = Volume Split-brain status - <volname>
#    check_command = check_vol_heal_status!<cluster-hostgroup-name>!<volume-name>
#    _VOL_NAME = Volume name
################################################################################
define service{
  use                    gluster-service-without-graph
  host_name              test-cluster
  service_description    Volume Split-brain status - data-vol
  _VOL_NAME              data-vol ; MUST DECLARE the custom var _VOL_NAME
  check_command check_vol_heal_status!test-cluster!data-vol
}

################################################################################
# This defines a Volume Geo Replication status service
# Edit this sample
#    host_name = the cluster host previously defined for cluster
#    service_description = Volume Geo-Replication - <volname>
#    check_command = check_vol_georep_status!<cluster-hostgroup-name>!<volume-name>
#    _VOL_NAME = Volume name
################################################################################
define service{
  use                    gluster-service-without-graph
  host_name              test-cluster
  service_description    Volume Geo-Replication - data-vol
  _VOL_NAME              data-vol ; MUST DECLARE the custom var _VOL_NAME
  check_command check_vol_georep_status!test-cluster!data-vol
}

################################################################################
# This defines a Cluster utilization service
# Edit this sample
#    host_name = cluster host previously defined. (The service is under a cluster)
################################################################################
define service{
  use                    gluster-service-with-graph
  host_name              test-cluster
  service_description    Cluster Utilization
  check_command check_cluster_vol_usage!80!90
}


